
body{
    font-weight: 400;
line-height: 1.6;

font-family: "DM Sans", sans-serif;
}


.mydiv{

}


.mycontainer{

}

.mynavbar{

}

.navbar-brand{
font-size: 30px;
font-weight: 600;
color: #FBD97B;

}

.mylink{
    font-weight: 500;
    font-size: 18px;
    margin-left: 50px;
    color: black;
    padding-left: 50px;
}

.mybtn{
    background: #111116;
border-radius: 15px;
font-family: "Rubik", sans-serif;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
padding: 19px 31px;
}
.mybtn:hover{
    
    background-color:#E19201 ;  
}

.myschrift{
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
    color: #111116;
    font-family: "Poppins", sans-serif;
    
    margin-bottom: 0;
    margin-top: 0;
}
.mypara{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #6F6F76;
    padding-bottom: 46px;
}

.mybtn2{
    border-radius: 15px;
padding: 22px 36px;
font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
display: inline-block;
background: #ffa600;
}

.myimg{
    margin-left: 70px;
    margin-top: 20px;
}

.myschreiben{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 58px;
    color: #111116;
    margin-left: 150px;
}

.myparagraf{
    font-family: Rubik;
    
    font-size: 19px;
    line-height: 36px;
    color: #6F6F76;
    padding-top: 30px;
    margin-left: 150px;
}

.mybutton{
    font-family: "Rubik", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;

background: #ffa600;

box-shadow: 5px 10px 30px rgba(255, 165, 2, 0.3);
border-radius: 15px;
padding: 22px 36px;
margin-left: 150px;
}

.mybild{
    margin-right: 20px;
    padding-bottom: 30px;
}

.myh2{
    font-family: "Poppins", sans-serif;
font-weight: 800;
font-size: 40px;
line-height: 58px;

color: #111116;
}

.myimage{
    max-width: 100%;
    height: auto;
    margin-left: 60px;
}

.mykuli{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-left: 60px;

}


.mypro{
    
    font-size: 20px;
    color: #6F6F76;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 60px;
}

.mylinked{
    margin-left: 60px;
    font-family: "Rubik", sans-serif;
text-decoration: none;
font-weight: 500;
font-size: 16px;
color: #FFA502;
display: inline-block;

}